# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

#Visual Studio temporary files
*.pdb
*.iobj
*.ipdb
*.idb
*.ilk
*.tlog/
*.recipe
**/.vs/
*.log
*.enc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other temporary files
*.bak

# Allow Raylib files
!*/Raylib/**
